body{
    background-image: url('img/1669026549_chakiris-club-p-zelenii-dzhedai-instagram-2.jpg');
    background-color: rgb(26, 111, 122);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
}

.mystyle{

    color:brown

}